allow location mdm_device:chr_file { getattr read open ioctl };
allow location system_data_file:dir { write add_name };
allow location apk_data_file:sock_file { write };
allow location system_data_file:fifo_file { setattr read write create };
allow location system_data_file:dir { remove_name } ;
