allow mpdecision system_data_file:dir { write add_name create };
allow mpdecision system_data_file:file { create append open };
allow mpdecision socket_device:sock_file { setattr write };
